<div nz-row nzGutter="25">
    <!-- skeleton -->
    <ng-template #loadingSkeleton>
      <nz-skeleton class="bg-white dark:bg-white/10 rounded-6 p-[30px] pt-[15px]" [nzShape]="circle" [nzActive]="true"
        [nzParagraph]="{ rows: 6 }"></nz-skeleton>
    </ng-template>
    <!-- skeleton -->
  
  
    
    <div nz-col nzXs="12" class="mb-[25px]">
      <ng-container *ngIf="showContent; else loadingSkeleton">
        <div
          class="bg-white dark:bg-white/10 m-0 p-0 text-theme-gray dark:text-white/60 text-[15px] rounded-10 relative h-full">
          <div
            class="py-[16px] px-[25px] text-dark dark:text-white/[.87] font-medium text-[17px] border-regular dark:border-white/10 border-b">
            <h4 class="mb-0 text-lg font-medium text-dark dark:text-white/[.87]">Nuevo cliente</h4>
          </div>
          <div class="p-[25px]">
            <form nz-form [formGroup]="validateForm">
              <nz-form-item>
                <nz-form-label class="flex items-center font-medium dark:text-white/60" nzXs="6" nzFor="text2">Nombre</nz-form-label>
                <nz-form-control nzXs="24" nzErrorTip="Campo requerido." >
                  <input formControlName="nombre"
                    class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                    nz-input name="text2" type="text" id="text2">
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label class="flex items-center font-medium dark:text-white/60" nzXs="6" nzFor="text2">Apellidos</nz-form-label>
                <nz-form-control nzXs="24" nzErrorTip="Campo requerido." >
                  <input formControlName="apellidos"
                    class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                    nz-input name="text2" type="text" id="text2">
                </nz-form-control>
              </nz-form-item>


              <nz-form-item>
                <nz-form-label class="flex items-center font-medium dark:text-white/60" nzXs="6" nzFor="text2">Correo Electronico</nz-form-label>
                <nz-form-control nzXs="24" nzErrorTip="Campo requerido." >
                  <input formControlName="correoElectronico"
                    class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                    nz-input name="text2" type="text" id="text2">
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label class="flex items-center font-medium dark:text-white/60" nzXs="6" nzFor="text2">Telefono</nz-form-label>
                <nz-form-control nzXs="24" nzErrorTip="Campo requerido." >
                  <input formControlName="telefono"
                    class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                    nz-input name="text2" type="text" id="text2">
                </nz-form-control>
              </nz-form-item>

              <nz-form-item nzJustify="end">
                <nz-form-control nzJustify="end">
                  <div class="flex flex-wrap gap-[15px]">
                    <button nz-button (click)="submitForm()" [nzLoading]="btnLoading"
                      class="bg-primary hover:bg-primary-hbr border-solid border-1 border-primary text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] duration-300">
                      <span>Enviar</span>
                    </button>
                  </div>
                </nz-form-control>
              </nz-form-item>

            </form>
          </div>
        </div>
      </ng-container>
    </div>
    </div>
  